@model PolicyManagement.Models.PolicyVendor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PolicyVendor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VendorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VendorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PolicyType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PolicyType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VendorWebsite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VendorWebsite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearofEstablishment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearofEstablishment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VendorStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VendorStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PolicyVendorRegNo }) |
    @Html.ActionLink("Back to List", "AdminHomePage")
</p>
